/*---------- Default --------------------*/
		
		@font-face { font-family: AlteHaasGrotesk; src: url("{% static 'fonts/AlteHaasGroteskRegular.ttf' %}"); } 
 @font-face { font-family: AlteHaasGrotesk; font-weight: bold; src: url("{% static 'fonts/AlteHaasGroteskBold.ttf' %}");}
		@font-face { font-family: Lato; src: url("{% static 'fonts/Lato-Regular.ttf' %}"); } 

		html {
	max-width: 100%;
    overflow-x: hidden;
	min-height:100%;
      background:linear-gradient(0deg, rgba(4, 14, 28, 0.9), rgba(4, 14, 28, 0.9)), url("{% static 'img/knight2.jpeg' %}");
      background-size:cover;
}

body {
	text-align: center;
	
	padding-bottom: 200px;
	font-family: AlteHaasGrotesk, sans-serif;
	font-style: normal;
          font-weight: 300;
	color: green;
	
}

.center {
  margin-left: auto;
  margin-right: auto;
}

/*home*/

.blurb {
	text-align: left;
	margin-left: 10%;
	margin-top: 15%;
	color: #d9d0c1;
}

.blurb h1 {
	font-size: 35pt;
}

.blurb h2 {
	font-size: 20pt;
}

.homelog {
	font-size: 18pt;
	background: #95703A;
	width: fit-content;
	padding: .6% 5%;
	margin-left: 2%;
	margin-top: 4%;
	border-radius: 70px;
	cursor: pointer;
	transition: background 0.7s ease;
	color: #d9d0c1;
	
}

.homelog:hover {
	background:#3A8795;
	
}

p {
	letter-spacing: 2px;
	font-family: Lato;
	color: #d9d0c1;
}


a {
	text-decoration: none;
}

#jeans {

	position: absolute;
	margin-top: -405px;
	margin-left: 20%;
	border-radius: 50px;

	padding: 30px;
}

#jeanshidden {
	position: absolute;
		margin-top: -430px;
	margin-left: 18%;
	z-index: -1;


	padding: 100px;
			background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='27' ry='27' stroke='%2395703AFF' stroke-width='12' stroke-dasharray='5%25%2c 3%25' stroke-dashoffset='50' stroke-linecap='butt'/%3e%3c/svg%3e");
border-radius: 27px;
}

.stitches {


}

/*---------- Field --------------------*/

.fld {
	background: rgba(0,0,0,0.00);
	color: #d9d0c1;
	padding: 15px 65px 15px 30px;
	border-radius: 30px;
	border: 3px solid #95703A;
	margin: 6px;
	font-family: Lato;
	font-size: 12pt;
	transition: border 0.7s ease;
	width: fit-content;
}

.fld:hover {
	border: 3px solid #3A8795;
}

.fld:focus{
	border: 3px solid #3A8795;
	background:rgba(26,61,67,0.3);
	outline: none;
}

input {
	background: rgba(0,0,0,0.00);
	color: #d9d0c1;
	padding: 15px 65px 15px 30px;
	border-radius: 30px;
	border: 3px solid #95703A;
	margin: 6px;
	font-family: Lato;
	font-size: 12pt;
	transition: border 0.7s ease;
	width: fit-content;
}

input:hover {
	border: 3px solid #3A8795;
}

input:focus {
	border: 3px solid #3A8795;
	background:rgba(26,61,67,0.3);
	outline: none;
}

/*---------- Navbar --------------------*/

nav {
	border-radius: 0;
	margin-top: -20px;
	margin-left: -20px;
	width: 110%;
	height: 80px;
	background: rgba(58,135,149,1);
}

li {
	padding: 0 8%;
	display: inline-block;
}

ul {
	margin-left: -9%;
	text-align: center;
	white-space:nowrap;
}

ul li {
	
	cursor: pointer;
	-webkit-transition: padding .05s linear;
	-moz-transition: padding .05s linear;
	-ms-transition: padding .05s linear;
	-o-transition: padding .05s linear;
	transition: padding .05s linear;
}
ul li.drop {
	position: relative;
}
ul > li {
	display: inline-block;
}
ul.navul li a {
	line-height: 80px;
	padding: 0 80px;
	height: 80px;
	color: #d9d0c1;
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
	
}
ul li a:hover {
	color: #B4935D;
}

 .dropOut .triangle {
	width: 0;
	height: 0;
	position: absolute;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid rgba(58,135,149,1);
	top: -8px;
	left: 50%;
	margin-left: -8px;
}
.dropdownContain {
	width: 160px;
	position: absolute;
	z-index: 2;
	left: 50%;
	margin-left: -80px; /* half of width */
	top: -400px;
}
.dropOut {
	width: 160px;
	background: rgba(58,135,149,1);
	float: left;
	position: relative;
	margin-top: 0px;
	opacity: 0;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 6px rgba(0,0,0,.15);
	box-shadow: 0 1px 30px rgba(0,0,0,.5);
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
}

.dropOut ul {
	float: left;
	padding: 10px 0px 10px 20px;
}
.dropOut ul li {
	text-align: left;
	float: left;
	width: 125px;
	padding: 12px 0 10px 15px;
	margin: 5px 10px;
	color: #d9d0c1;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	-webkit-transition: background .1s ease-out;
	-moz-transition: background .1s ease-out;
	-ms-transition: background .1s ease-out;
	-o-transition: background .1s ease-out;
	transition: background .1s ease-out;
	background:rgba(19,51,61,0.2);
}

.dropOut ul li:hover {
	background:rgba(142,100,39,1.00);
}

ul li:hover a { color: white; }
ul li:hover .dropdownContain { top: 65px; }
ul li:hover .underline { border-bottom-color: #777; }
ul li:hover .dropOut { opacity: 1; margin-top: 8px; }


/* Number spinner */

		* {
  box-sizing: border-box;
  
		}

	.input-number {
	  width: 40px;
	  padding: 0 12px;
	  vertical-align: top;
	  text-align: center;
	  outline: none;
		border-radius: 40px;
	}

.input-number,
.input-number-decrement,
		.input-number-increment {
  border: 1px solid #ccc;
  height: 40px;
  user-select: none;
		}

.input-number-decrement,
		.input-number-increment {
  display: inline-block;
  width: 30px;
  line-height: 38px;
  background: #f1f1f1;
  color: #444;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
		}

    

		.input-number-decrement {
  border-right: none;
  border-radius: 40px 0 0 40px;
		}
		.input-number-increment {
  border-left: none;
  border-radius: 0 40px 40px 0;
		}

#uicon {
	background:rgba(19,51,61,0.2);
	padding: 10px;
	border-radius: 10px;
}
#hicon {
	background:rgba(19,51,61,0.2);
	padding: 10px;
	border-radius: 10px;
}
#jeanzlogo {
	
	letter-spacing: 2px;
	font-size: 20pt;
	font-family: AlteHaasGrotesk;
}


/* Chrome, Safari, Edge, Opera    Hide arrows in number spinner*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
		

