<!--
Template and styling for the home page

-->
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>JEANZ | Home</title>
	<script src="navbar.js"></script>

	<link rel="stylesheet" href="navbar.css">
</head>

<body>
	
	
	<div class="blurb">
		<h1>Don't leave your future to chance <br> &mdash; Let us wear the pants.</h1>
		<h2>You provide your course history, and we provide<br> a robust degree plan tailored to fit you just right.</h2>
		<div class="homelog">
			<p>SIGN IN</p>
		</div>
		<div class="hidden">
			
		</div>
	</div>
	<img alt="jeans" id="jeans" src="jeans2.jpeg" width="900px">
	<img alt="jeans" id="jeanshidden" src="jeans2.jpeg" width="900px">
	
</body>
</html>
