<!--
TODO: file description

2023-05-19 - Nathaniel mason : added HTML code for basic home page that has button to go to create user account
2023-05-22 - Josh Sawyer     : added login redirect button

-->


<h1>Click buttons to test login/account creation</h1>

{% if messages %}
{% for message in messages %}
    <p><b>{{ message }}</b></p>
{% endfor %}
{% endif %}

<form action="/users/login">
    <input type="submit" value="login" />
</form>
<form action="/users/create-user">
    <input type="submit" value="create user account" />
</form>
