<!--
TODO: file description

2023-05-26 - Josh Sawyer     : added update user account html (includes updating username and password)
2023-05-29 - Adam Case       : added email change section

-->

{% if messages %}
{% for message in messages %}
    <p><b>{{ message }}</b></p>
{% endfor %}
{% endif %}

<div id="go-home">
    <a href="{% url 'forecast:dashboard' %}">go back to the dashboard... unless you want to stay here</a>

<div id="username-section">
    {% comment %} <p>Username: <span id="username">{{ request.user.username }}</span></p> {% endcomment %}
    <button id="change-username-btn">Change Username</button>
  </div>
  
  <div id="password-section">
    <button id="change-password-btn">Change Password</button>
  </div>

  <div id="email-section">
    <button id="change-email-btn">Change Email</button>
  </div>

  <div id="name-section">
    <button id="change-name-btn">Change Name</button>
  </div>
  
  <!-- Username Update Form -->
  <div id="username-form" style="display: none;">
    <form id="update-username-form" method="POST" action="{% url 'users:update_account' %}">
      {% csrf_token %}
      <p>Current Username: <span id="username">{{ request.user.username }}</span></p>
      {{ username_form.as_p }}
      <button type="submit" name="update_username">Update</button>
    </form>
  </div>
  
  <!-- Password Update Form -->
  <div id="password-form" style="display: none;">
    <form id="update-password-form" method="POST" action="{% url 'users:update_account' %}">
      {% csrf_token %}
      {{ password_form.as_p }}
      <button type="submit" name="update_password">Update</button>
    </form>
  </div>

  <!-- Email Update Form -->
  <div id="email-form" style="display: none;">
    <form id="update-email-form" method="POST" action="{% url 'users:update_account' %}">
      {% csrf_token %}
      <p>Current Email: <span id="email">{{  request.user.email  }}</span></p>
      {{email_form.as_p}}
      <button type="submit" name="update_email">Update</button>
    </form>
  </div>


  <!-- Name Update Form -->
  <div id="name-form" style="display: none;">
    <form id="update-name-form" method="POST" action="{% url 'users:update_account' %}">
      {% csrf_token %}
      <p>Current Name: <span id="fname">{{  request.user.first_name  }}</span> <span id="lname">{{request.user.last_name}}</span></p>
      {{name_form.as_p}}
      <button type="submit" name="update_name">Update</button>
    </form>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
      // Hide functions
      function hideSections() {
        $("#username-section").hide();
        $("#password-section").hide();
        $("#email-section").hide();
        $("#name-section").hide();
      }

      // Change Username button click event
      $("#change-username-btn").click(function() {
        hideSections();
        $("#username-form").show();
      });
  
      // Change Password button click event
      $("#change-password-btn").click(function() {
        hideSections();
        $("#password-form").show();
      });

      // Change Email button click event
      $("#change-email-btn").click(function() {
        hideSections();
        $("#email-form").show();
      });

      // Change Name button click event
      $("#change-name-btn").click(function() {
        hideSections();
        $("#name-form").show();
      });
    });
  </script>
  
  
  
  
  





  


