<!--
TODO: file description

2023-05-23 - Nathaniel mason : created initial version of Navbar with profile modal containing buttons
2023-05-30 - Nathaniel Mason : added updates to links in navbar

-->

{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="../../static/img/jeanz_favicon_final.png">
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/chosencopy.css' %}" type="text/css">
    </head>
    <body>
        <nav>
			<table><tr><br></tr>
				<tr>
            <ul class="navul" style="margin-top: 0px;"> 
                <li onMouseOver="document.getElementById('hicon').style='filter: brightness(0.8) saturate(4);';" onMouseOut="document.getElementById('hicon').style='filter: saturate(1);';"><a href="/forecast/dashboard"><img alt="home" id="hicon" src="{% static 'forecast/homeicon.png' %}" width="40px" style="filter: saturate(1);" ></a></li>
          
                <li><a id="jeanzlogo" href="/forecast/dashboard"><img alt="jeanz" src="{% static 'forecast/jeanzlogo2.png' %}" width="140px" style="" ></a></li>
                <li class="drop" onMouseOver="document.getElementById('uicon').style='filter: brightness(0.8) saturate(4);';" onMouseOut="document.getElementById('uicon').style='filter: saturate(1);';">
                <a href="#"><img alt="user" id="uicon" src="{% static 'forecast/usericon.png' %}" width="35px" style=" filter: saturate(1);" ></a>
          
                <div class="dropdownContain">
                  <div class="dropOut">
                    <div class="triangle"></div>
                    <ul id="dropdown-ul">
                      <li><a class="prof_dropdown" href="/users/update-account"><img alt="name" src="{% static 'forecast/usericon.png' %}" width="20px"> {{ user.get_username }} </a></li>
                      <li><a class="prof_dropdown" href="/users/edit_courses">Edit Courses</a></li>
                      <li><a class="prof_dropdown" href="/forecast/edit_interests">Edit Interests</a></li>
                      <li><a class="prof_dropdown" href="/users/logout/">Log Out</a></li>
                    </ul>
                  </div>
                </div>
          
                </li>
            </ul>
				</tr>
			</table>
        </nav>


        {% block content %}

        {% endblock %}
    </body>
</html>