<!--
TODO: file description

2023-05-23 - Nathaniel mason : created initial version of Navbar with profile modal containing buttons

-->

{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Base Doc</title>
        <link rel="stylesheet" href="{% static 'forecast/navbar.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'forecast/chosencopy.css' %}" type="text/css">
    </head>
    <body>
        <nav>
            <ul class="navul"> 
                <li onMouseOver="document.getElementById('hicon').style='filter: invert(1);';" onMouseOut="document.getElementById('hicon').style='filter: invert(0.5);';"><a href="dashboard"><img alt="home" id="hicon" src="{% static 'forecast/homeicon.png' %}" width="30px" style="filter: invert(0.5);" ></a></li>
          
                <li><a href="#">JEANZ</a></li>
                <li class="drop" onMouseOver="document.getElementById('uicon').style='filter: invert(1);';" onMouseOut="document.getElementById('uicon').style='filter: invert(0.5);';">
                <a href="#"><img alt="user" id="uicon" src="{% static 'forecast/usericon.png' %}" width="20px" style=" filter: invert(0.5);" ></a>
          
                <div class="dropdownContain">
                  <div class="dropOut">
                    <div class="triangle"></div>
                    <ul>
                      <li style="pointer-events: none; cursor: default;"><img alt="name" src="{% static 'forecast/usericon.png' %}" width="20px" style="cursor: default;">  Name</li>
                      <li><a class="prof_dropdown" href="edit_courses">Edit Courses</a></li>
                      <li><a class="prof_dropdown" href="#">Edit Interests</a></li>
                      <li><a class="prof_dropdown" href="#">My Account</a></li>
                      <li><a class="prof_dropdown" href="/users/logout/">Log Out</a></li>
                    </ul>
                  </div>
                </div>
          
                </li>
            </ul>
        </nav>


        {% block content %}

        {% endblock %}
    </body>
</html>