<!--
TODO: file description

2023-05-24 - Nathaniel mason : Incorporated styling and HTML structure from Erin 
                               and added code to pull form from Django


-->

{% extends 'forecast/base.html' %}
{% load static %}

{% block content %}

<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Edit Course History</title>	
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.js"></script>
<link rel="stylesheet" href="{% static 'forecast/chosencopy.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

	<style>
		html {
	max-width: 100%;
    overflow-x: hidden;
	min-height:100%;
      background:linear-gradient(0deg, rgba(4, 14, 28, 0.9), rgba(4, 14, 28, 0.9)), url("{% static 'img/knight2.jpeg' %}") !important;
      background-size:cover;
}

body {
	text-align: center;
	
	padding-bottom: 200px;
	font-family: AlteHaasGrotesk, sans-serif;
	font-style: normal;
          font-weight: 300;
	color: green;
	
}
	</style>
</head>
<body>
	{% if messages %}
        {% for message in messages %}
            <p><b>{{ message }}</b></p>
        {% endfor %}
    {% endif %}
	
<form method="post">
  {% csrf_token %}
<table>
	<tr>
    <td><h3>Your course history</h3></td>
        <td><h3>Your general credit</h3></td>
        </tr>
      <tr>
      <td><h4>Add or remove courses</h4></td>
        <td><h4>Add or remove general credit</h4></td>
        </tr>
      <tr>
      <td>
      <!--
      <select class="chzn-select" multiple="true" name="faculty" style="width:200px;">
              <option value="AC">CS 422</option>
              <option value="AD">MATH 232</option>
              <option value="AM">MATH 252</option>
              <option value="AP">CS 415</option>
      </select>
      -->
      {{ courseform.major_courses }}
      </td>


	
	
	
	
		<td></td><td><h5>Arts and Letters (&#62;1)</h5><span class="input-number-decrement">–</span>{{ courseform.arts_letters_cred }}<span class="input-number-increment">+</span></td>
		</tr>
		<tr>
		<td></td><td></td>
					<td><h5>Social Science (&#62;2)</h5><span class="input-number-decrement">–</span>{{ courseform.soc_sci_cred }}<span class="input-number-increment">+</span></td>
		</tr>
		<tr>
		<td></td><td></td>
					<td><h5>Science (&#62;3)</h5><span class="input-number-decrement">–</span>{{ courseform.sci_cred }}<span class="input-number-increment">+</span></td>
		
		</tr>
		<tr>
		<td></td><td></td>
					<td><h5>Global Perspectives (GP)</h5><span class="input-number-decrement">–</span>{{ courseform.gp_cred }}<span class="input-number-increment">+</span></td>
		
		</tr>
		<tr>
		<td></td><td></td>
					<td><h5>US Difference, Inequality, and Agency (US)</h5><span class="input-number-decrement">–</span>{{ courseform.us_cred }}<span class="input-number-increment">+</span></td>
		
		</tr>
	
	
	
	

	</table>
  <br>
  <br>
  <button type="submit" name="Submit">Save Changes</button>
</form>


<script type="text/javascript">
$(function() {
    $(".chzn-select").chosen();
});
	
//https://codepen.io/djgrant/pen/rNMWQo
(function() {
 
  window.inputNumber = function(el) {

    var min = el.attr('min') || false;
    var max = el.attr('max') || false;

    var els = {};

    els.dec = el.prev();
    els.inc = el.next();

    el.each(function() {
      init($(this));
    });

    function init(el) {

      els.dec.on('click', decrement);
      els.inc.on('click', increment);

      function decrement() {
        var value = el[0].value;
        value--;
        if(!min || value >= min) {
          el[0].value = value;
        }
      }

      function increment() {
        var value = el[0].value;
        value++;
        if(!max || value <= max) {
          el[0].value = value++;
        }
      }
    }
  }
})();

inputNumber($('#arts_letters_cred'));
inputNumber($('#social_science_cred'));
inputNumber($('#science_cred'));
inputNumber($('#gp_cred'));
inputNumber($('#us_cred'));
</script>
</body>
</html>

{% endblock %}