{% extends 'forecast/base.html' %}
{% load static %}

{% block content %}

<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Edit Course History</title>	
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.js"></script>
<link rel="stylesheet" href="chosencopy.css">

</head>
<body>
	

	
<form>
<table>
	<tr>
<td><h3>Your course history</h3></td>
		<td><h3>Your general credit</h3></td>
		</tr>
	<tr>
	<td><h4>Add or remove courses</h4></td>
		<td><h4>Add or remove general credit</h4></td>
		</tr>
	<tr>
	<td>
<select class="chzn-select" multiple="true" name="faculty" style="width:200px;">
        <option value="AC">CS 422</option>
        <option value="AD">MATH 232</option>
        <option value="AM">MATH 252</option>
        <option value="AP">CS 415</option>
</select>
		</td>
	
	
	<td><h5>Science</h5><span class="input-number-decrement">–</span><input class="input-number" id="n1" type="text" value="0" min="0" max="10"><span class="input-number-increment">+</span></td>
		</tr>
		<tr>
		<td></td>
					<td><h5>Social Science</h5><span class="input-number-decrement">–</span><input class="input-number" id="n2" type="text" value="0" min="0"><span class="input-number-increment">+</span></td>
		</tr>
		<tr>
		<td></td>
					<td><h5>Arts and Letters</h5><span class="input-number-decrement">–</span><input class="input-number" id="n3" type="text" value="0" min="0"><span class="input-number-increment">+</span></td>
		
		</tr>

	</table>
</form>

<script type="text/javascript">
$(function() {
    $(".chzn-select").chosen();
});
	
//https://codepen.io/djgrant/pen/rNMWQo
(function() {
 
  window.inputNumber = function(el) {

    var min = el.attr('min') || false;
    var max = el.attr('max') || false;

    var els = {};

    els.dec = el.prev();
    els.inc = el.next();

    el.each(function() {
      init($(this));
    });

    function init(el) {

      els.dec.on('click', decrement);
      els.inc.on('click', increment);

      function decrement() {
        var value = el[0].value;
        value--;
        if(!min || value >= min) {
          el[0].value = value;
        }
      }

      function increment() {
        var value = el[0].value;
        value++;
        if(!max || value <= max) {
          el[0].value = value++;
        }
      }
    }
  }
})();

inputNumber($('#n1'));
	inputNumber($('#n2'));
		inputNumber($('#n3'));
</script>
</body>
</html>

{% endblock %}